*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: auto;
background-image: url("Website/Images/graffiti.jpeg");
 background-size: 1440px 910px;
font-family: "Lato", sans-serif;
}



.main .sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: white; 
  overflow-x: hidden;
  padding: 8px 0;
  opacity: 0.75;
}

.main .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: firebrick;
  display: block;
}

.main .sidenav a:hover {
  color: #064579;
}


.icon{

	margin-top: 50em;
	text-align: center;


}
.icon img{
width:40px;
height:40px;
margin-left: 50px




}
