*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: auto;
background: (white);
background-size: 1440px 910px;
font-family: "Lato", sans-serif;
}



.main .sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: firebrick; 
  overflow-x: hidden;
  padding: 8px 15px;
  opacity: 0.5;
}

.main .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.main .sidenav a:hover {
  color: #064579;
}


.icon{

	margin-top: 20em;
	text-align: center;


}
.icon img{
width:40px;
height:40px;
margin-left: 50px



}

.images{
  margin-top: 1em;
	text-align: center;
}

.sketchfab-embed-wrapper{
	text-align: center;
}

.playground{
	text-align: center;

}

.portrait{
  
  text-align: center;
}

.youtube{
	text-align: center;
}
